body {
    font-family: Arial;
    text-align: center;
    color:black;
}

h1 {
    text-decoration: underline;
}

div {
    width: 600px;
    height: 600px;
    border: 1px solid green;
    margin: 50px auto;
    background-color: red;
    background-image: url(images/NotAyo123_ProfilePicture.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;

}


